/* larger.css */

@media (min-width: 1025px) {
    body {
        font-size: 14px;
    }
    
    .container {
        width: 80%;
        margin: 0 auto;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    header{
        margin-top: 2rem;
        margin-bottom: 16rem;
    }

    .top{
        width: 100%;
    }
}
