/* global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: var(--font), sans-serif;
  }
  

  p {
    margin: 0 0 1em 0;
    font-family: var(--font), sans-serif;
  }
  
  /* form styles */

  .form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    margin-top: 48px;
    
    max-width: 1200px;
  }

  form {
    border: 0px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 0 24px #33333393;
    font-family: var(--font), sans-serif;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin: 5px;
    padding-left: 12px;
    font-weight: 600;
    /* font-size: 1.75rem; */
    color: black;
  }
  
  .form-group input[type=text], 
  .form-group input[type=email], 
  .form-group input[type=tel],
  .form-group select {
    transition-duration: 0.5s;
    width: 100%;
    padding: 12px;
    border: 0px solid #ccc;
    border-radius: 16px;
    font-size: 18px;
    /* margin: 5px; */
    box-sizing: border-box;
    background-color: black;
    color: white;
  }

    
  .form-group input[type=text]:focus, 
  .form-group input[type=email]:focus, 
  .form-group input[type=tel]:focus,
  .form-group textarea:focus{
    
    transition-duration: 0.5s;
    background-color: white;
    color: black;
  }
  
  .form-group select {
    margin-top: 5px;
    z-index: -12;
  }
  
  .form-group textarea {
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 16px;
    font-size: 18px;
    margin-top: 5px;
    box-sizing: border-box;
    resize: none;
    color: white;
    background-color: black;
  }
  
  .form-group button {
    transition-duration: 0.5s;
    padding: 10px 20px;
    background-color: #f72665;
    color: white;
    border: none;
    border-radius: 32px;
    padding: 16px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--font), sans-serif;
  }

  .form-group button:hover {
    transition-duration: 0.5s;
    background-color: black;
    color: white;
  }
  
  legend{
    color: black;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    font-family: var(--font), sans-serif;
  }

  /* output styles */
  
    .card {
        padding: 48px;
        background-color: white;
        border-radius: 32px;
        box-shadow: 0 0 24px #33333393;
        height:87%;
        font-family: var(--font), sans-serif;
    }

    .card p {
        font-size: 18px;
        margin-bottom: 10px;
        font-family: var(--font), sans-serif;
    }

    .card ul
    {
        line-height: 5px;
        font-family: var(--font), sans-serif;
    }

    .card h1, form h1{
        color: black;
        font-family: var(--font), sans-serif;
        margin: 0px;
    }

    .card h2
    {
        font-size: 24px;
        font-weight: 600;
        margin: 0px;
        font-family: var(--font), sans-serif;
    }

    .card h5{
        font-size: 16px;
        font-weight: 600;
        margin: 12px;
        padding: 4px;
        font-family: var(--font), sans-serif;
    }



  /* Hero Image */
  
  .hero {
    background: url("../images/oranges.jpg") center center/cover no-repeat;
    height: 932px;
    position: relative;
    opacity: 80%;
  }


/* Pop-up */


#popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  
  #popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 32px;
    width: 25%;
    height: 25%;
    font-family: var(--font), sans-serif;
  }
  
  #popup h1
  {
    color: black;
    margin: 0px;
    font-family: var(--font), sans-serif;
  }

  #popup-close {
    transition-duration: 0.5s;
    margin-top: 25px;
    background-color: #f72665;
    color: white;
    font-size: large;
    border: none;
    border-radius: 32px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    font-family: var(--font), sans-serif;
  }
  
  #popup-close:hover {
    transition-duration: 0.5s;
    background-color: #000000;
  }

  /* responsive styles */
  @media (max-width: 600px) {
    .form-group {
        width: 91%;
    }
  }