
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


:root {
    /* import the font gamily */
    --font: "Noto Sans JP";
}
/* Body styles */
body {
    background-color: white;
    font-family: var(--font), sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation styles */
nav {
    
    /* background-color: #333; */
    color: #fff;
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 10px;
}

nav a {
    transition-duration: 0.5s;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
    border-radius: 16px;
    margin: 12px;
    font-family: var(--font), sans-serif;
}

nav a:hover {
    transition-duration: 0.5s;
    background-color: #fff;
    color: #333;
    border-radius: 16px;
}

/* Header styles */
h1 {
    color: white;
    font-size: 40px;
    margin: 50px 0;
    text-align: center;
    font-family: var(--font), sans-serif;
}

h2{
    font-size: 36px;
    margin-bottom: 20px;
    font-family: var(--font), sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 8px;
    padding: 32px;
}
/* Image styles */
.grid-container img {
    transition: opacity 2s ease-in-out;
    transition-duration: 0.25s;
    width: 100%;
    height: 280px;
    opacity: 85%;
    border-radius: 24px;
    box-shadow: 0 0 24px #33333393;
}

.grid-container img:hover {
    transition: opacity 2s ease-in-out;
    transition-duration: 0.25s;
    opacity: 60%;
}

.fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}


/* Section styles */
section {
    margin: 50px 0;
}

/* Call to action styles */
.cta {
    background-color: #333;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font), sans-serif;
}

.cta:hover {
    background-color: #fff;
    color: #333;
}

/* Social media link styles */
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
  
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer-icons a {
    margin: 0 10px;
    font-family: var(--font), sans-serif;
}

.footer-icons h4{
    margin: 0 10px;
    font-family: var(--font), sans-serif;
}

.icon-img
{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 48px;
    border-radius: 14px;
}



/* Weather card styles */
.weather-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 64px;
}

.weather {
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 24px #33333393;
    border-radius: 32px;
    margin: 50px auto;
    padding: 32px;
    max-width: 960px;
    width: 75%;
    height: 80%;
}

.weather h2 {
    color: black;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: var(--font), sans-serif;
}

.weather p, .weather ul {
    color: black;
    font-size: 24px;
    line-height: 1.5;
    margin: 10px 0;
    font-family: var(--font), sans-serif;
}

.weather ul {
    list-style: none;
    padding: 0;
    font-family: var(--font), sans-serif;
}

.weather li {
    margin-bottom: 10px;
    font-family: var(--font), sans-serif;
}

/* Specialty drink submission styles */

.ingredients{
    
    color: rgb(50, 50, 50);
    font-family: var(--font), sans-serif;
}

.submission {
    box-shadow: 0 0 24px #33333393;
    background-color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 32px;
    margin: 50px auto;
    padding: 32px;
    max-width: 960px;
    width: 75%;
    height: 80%;
    font-family: var(--font), sans-serif;
}

.submission h2 {
    color: black;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: var(--font), sans-serif;
}

.submission p {
    color: black;
    font-size: 24px;
    line-height: 1.5;
    margin: 10px 0;
    font-family: var(--font), sans-serif;
}

.btn {
    transition-duration: 0.25s;
    display: inline-block;
    padding: 22px;
    padding-left: 64px;
    padding-right: 64px;
    background-color: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    border-radius: 16px;
    font-family: var(--font), sans-serif;
  }
  
  .btn:hover {
    transition-duration: 0.25s;
    color: rgb(255, 255, 255);
    background-color: #f72665;
  }

/* Info Card Systels */
.info-card {
    box-shadow: 0 0 24px #33333393;
    background-color: white;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 32px;
    margin: 50px auto;
    padding: 32px;
    max-width: 960px;
    width: 75%;
    height: 80%;
    font-family: var(--font), sans-serif;
}

.info-card h2 {
    color: black;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: var(--font), sans-serif;
}

.info-card p {
    color: black;
    font-size: 24px;
    line-height: 1.5;
    margin: 10px 0;
    font-family: var(--font), sans-serif;
}

.info-card a {
    margin-top: 12px;
    transition-duration: 0.25s;
    display: inline-block;
    padding: 22px;
    padding-left: 64px;
    padding-right: 64px;
    background-color: #000000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    border-radius: 16px;
    font-family: var(--font), sans-serif;
}

.info-card a:hover {
    transition-duration: 0.25s;
    color: rgb(255, 255, 255);
    background-color: #f72665;
}

/* Hero image styles */
.hero {
    background: url("../images/raspberries.jpg") center center/cover no-repeat;
    height: 932px;
    position: relative;
    opacity: 80%;
    font-family: var(--font), sans-serif;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 800px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--font), sans-serif;
    
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: var(--font), sans-serif;
  }
  
  .hero-content a {
    color: white;
    text-decoration: underline;
    font-family: var(--font), sans-serif;
  }

/* Responsive layout - break the grid into two columns on smaller screens */

@media only screen and (max-width: 1280px) {
    .weather-grid-container {
        grid-template-columns: 1fr;
    }

    nav a{
        padding-left: 40px;
        padding-right: 40px;
        margin: 8px;
        
    }
  }

@media only screen and (max-width: 768px) {
    .weather-grid-container {
        grid-template-columns: 1fr;
    }

    .hero{
        height: 900px;
    }
    
    nav a{
        padding-left: 32px;
        padding-right: 32px;
        margin: 8px;
        
    }

  }

  @media only screen and (max-width: 375px) {
    /* Your CSS rules for iPhone devices here */
    .weather-grid-container {
        grid-template-columns: 1fr;
    }
    nav a{
        padding-left: 32px;
        padding-right: 32px;
        margin: 8px;
    }
  }