/* Set the style for each card element */

div.cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)); /* create a grid with columns that are at least 340px wide and expand to fill the available space */
    gap: 20px; /* add some space between the cards */
    justify-items: center; /* center the cards horizontally within the grid */
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 340px;
    height: 540px;
    overflow: hidden;
  }
  
  /* Set the style for the prophet's name */
  h2, h3 {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    margin: 0;
  }
  
  /* Set the style for the prophet's portrait image */
  img {
    display: block;
    width: 100%;
    height: auto;
  }